@media screen and (max-width: 1300px){
   .box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:43vw;
    height: 7vh;
    color: black;
    background-color: aliceblue;
    font-size: 37px;
    border-radius: 33px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 0;
   }
   .logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6px;
    margin-left: 0;
   }

}
@media screen and (max-width: 626px){
    .box1{
        font-size: 27px;
    }
    .box2{
        font-size: 27px;
    }
    .box3{
        font-size: 27px;
    }
    .box4{
        font-size: 27px;
    }
    .text{
        font-size: 22px;
    }
    .text1{
        font-size: 14px;
    }
}
@media screen and (max-width: 626px){
    .box1{
        font-size: 19px;
    }
    .box2{
        font-size: 20px;
    }
    .box3{
        font-size: 20px;
    }
    .box4{
        font-size: 20px;
    }
    .text{
        font-size: 20px;
    }
    .text1{
        font-size: 12px;
    }
    footer{
        font-size: 16px;
    }
}
@media screen and (max-width: 446px){
    .logo img{
        width:30px;
        height: 30px;
    }
    .logo1 img{
        width:30px;
        height: 30px;
    }
    .image img{
        width: 215px;
        height: 215px;
        border-radius: 125px;
        border:snow solid 2px;
    }
    .text1{
        font-size: 9px;
    }
}
@media screen and (max-width: 324px){
    .logo img{
        width:30px;
        height: 30px;
    }
    .logo1 img{
        width:30px;
        height: 30px;
    }
    .image img{
        width: 198px;
        height: 198px;
        border-radius: 125px;
        border:snow solid 2px;
    }
    .text1{
        font-size: 8px;
    }
    .box1{
        font-size: 18px;
    }
    .box2{
        font-size: 18px;
    }
    .box3{
        font-size: 18px;
    }
    .box4{
        font-size: 18px;
    }
}